.cont-center{
    margin: 0 auto;
}
.content{
    width:50%;
    margin:65px auto;
    padding:0;    
    h2{
        font-size: 2rem;
        margin: 1.2rem 0;
        text-align: center;
    }
    
    p{
        font-size: 1.2rem ;
        opacity: .8;
        letter-spacing: 1px;
        text-align: center !important;
    }

    a{
        text-decoration: underline;
        color: #000000;
    }
    
    img{
        width: 100%;
        height: auto;
        margin: 40px auto;
        display: flex;
    }
    
    li{
        margin: .5rem 0;
        font-weight: bold;
        opacity: .6;
    }
    
    textarea{
        height: 8rem !important;
    }
    
    .btn{
        filter: none;
    }

    .tools-cont{
        margin: 0 auto;
        width: max-content;
        display: flex;
        font-size: 1.5rem;
        width: 100%;
        max-width: 40rem;
        justify-content: space-around;
        ul{
            li{
                margin: 1rem 0;
            }
        }
    }
}


@media(max-width:1200px){
    .content{
        width: 70%;
    }
}

@media(max-width:768px){
    .content{
        width: 90%;
    }
    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: .8rem !important;
    }

    img{
        margin: 15px 0 !important;
    }
}