body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

label {
  font-size: 2.8rem;
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-family: fantasy;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-a {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
}
.loader .loader-cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.loader .loader-cont .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .loader-cont .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader .loader-cont .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader .loader-cont .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader .loader-cont .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
nav label {
  font-size: 2.8rem;
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-family: fantasy;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
nav .menu-toggler {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}
nav ul li {
  list-style: none;
  font-size: 1.5rem;
  margin: 0 2.2rem;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}
nav ul li:hover {
  opacity: 1;
}

footer {
  width: 100%;
  height: auto;
  background: #000000;
  color: #cccccc;
}
footer .footer-content {
  display: flex;
  flex-flow: column;
}
footer .footer-content .footer-info-cont {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 1.5rem auto;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2.5rem;
}
footer .footer-content .footer-info-cont .info-cont {
  font-size: 0.8rem;
  font-weight: bold;
}
footer .footer-content .footer-info-cont .info-cont div {
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .footer-content .footer-info-cont .info-cont div:hover {
  color: #ffffff;
}
footer .footer-content .media-icons {
  display: flex;
  justify-content: space-around;
  width: 16rem;
  align-content: center;
  margin: 0.8rem auto;
  margin-top: 2.5rem;
  font-size: 1.2rem;
}
footer .footer-content .media-icons i {
  font-family: "Font Awesome 5 Brands";
  border: 2px solid #cccccc;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
footer .footer-content .media-icons i:hover {
  color: #ffffff;
}
footer .footer-content p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  nav .menu-toggler {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    position: relative;
    left: -1.5rem;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 80px;
    z-index: 10;
    display: block;
    height: auto;
    background: #ffffff;
    width: 100%;
    padding: 0;
  }

  footer .footer-content label {
    left: 5px;
  }
  footer .footer-content .footer-info-cont {
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-content p {
    margin: 1rem 0;
  }
}
@media (min-width: 768px) {
  nav ul {
    display: flex !important;
  }
}
.main-prod img {
  width: 100%;
  /* max-height: 700px !important; */
  object-fit: cover;
}

.categories {
  display: flex;
  margin: 5rem 5rem 0;
}
.categories .cat-element {
  height: 20rem;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.categories .cat-element span, .categories .cat-element h3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.categories .cat-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories .cat-element img:before {
  content: "yee yee ass haircut";
  width: 100%;
  height: 20rem;
  background-color: aqua;
}

.featured-prod {
  margin: 3rem 15px;
}
.featured-prod .prod-cont {
  max-width: 90%;
  margin: 0 auto;
}
.featured-prod .product-element {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}
.featured-prod .product-element img {
  width: 100%;
  max-width: 12rem;
  height: 10rem;
  margin: 25px auto;
  object-fit: contain;
}
.featured-prod .product-element .productName {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.6;
  margin: 1.5rem 10% 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.featured-prod .product-element .productPrice {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.4rem 0;
}

@media (max-width: 768px) {
  .categories .cat-element {
    height: 12rem;
  }
}
@media (max-width: 480px) {
  .text-a {
    font-size: 1.2rem;
  }

  .categories {
    margin: 15px;
    margin-top: 1.5rem;
  }
  .categories .cat-element {
    height: 10rem;
  }
  .categories .cat-element img {
    height: 10rem;
  }

  .main-prod img, .coming-soon img {
    min-height: 150px;
  }

  .featured-prod {
    margin: 1.8rem 15px;
  }
  .featured-prod .prod-cont .product-element .productName {
    font-size: 0.8rem;
  }
  .featured-prod .prod-cont .product-element .productPrice {
    font-size: 1.2rem;
  }
  .featured-prod .prod-cont .product-element img {
    height: 6rem;
  }
}

/*# sourceMappingURL=layout.css.map */
