body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.button-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1rem;
  color: #000000;
  background: none;
  opacity: 1;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 0;
  margin: 1rem 3px;
  cursor: pointer;
  border: 1px solid #000000;
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.logo {
  font-size: 2.8rem;
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-family: fantasy;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-a {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.dark-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 769px) {
  .only-mob {
    display: none !important;
  }
}
.product-element {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}
.product-element img {
  width: 100%;
  max-width: 12rem;
  height: 10rem;
  margin: 25px auto;
  object-fit: contain;
}
.product-element .productName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5rem 10% 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-element .productPrice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.4rem 0;
  opacity: 0.6;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
}
.loader .loader-cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.loader .loader-cont .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .loader-cont .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader .loader-cont .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader .loader-cont .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader .loader-cont .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
nav label {
  font-size: 2.8rem;
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-family: fantasy;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
}
nav .menu-toggler {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}
nav ul li {
  list-style: none;
  font-size: 1.2rem;
  margin: 0 2.2rem;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}
nav ul li:hover {
  opacity: 1;
}

.productCard {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  position: fixed;
  max-width: 100%;
  margin: 0;
  overflow: scroll;
  /* .dark-bg{
      width: inherit;
      height: inherit;
      background: rgba(0, 0, 0,.4);
      position: fixed;
  } */
}
.productCard .product-cont {
  width: 70%;
  height: auto;
  min-height: 70%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 15px;
  border: 1px solid #cccccc;
}
.productCard .product-cont .close-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.productCard .product-cont .close-btn:hover {
  opacity: 1;
}
.productCard .product-cont .product-image {
  width: 40%;
  min-height: 100px;
  height: auto;
  display: flex;
  align-items: center;
}
.productCard .product-cont .product-image img {
  width: 80%;
  margin: 0 auto;
  max-height: 30rem;
  object-fit: contain;
}
.productCard .product-cont .product-info {
  width: 60%;
  padding: 4.5rem;
  margin-top: 2rem;
}
.productCard .product-cont .product-info .product-name {
  font-size: 2rem;
  font-weight: bold;
}
.productCard .product-cont .product-info .product-category {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  opacity: 0.6;
}
.productCard .product-cont .product-info .product-price {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.productCard .product-cont .product-info .product-description {
  margin-bottom: 1rem;
  line-height: 25px;
}

footer {
  width: 100%;
  height: auto;
  background: #000000;
  color: #cccccc;
}
footer .footer-content {
  display: flex;
  flex-flow: column;
}
footer .footer-content .footer-info-cont {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 1.5rem auto;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2.5rem;
}
footer .footer-content .footer-info-cont .info-cont {
  font-size: 0.8rem;
  font-weight: bold;
}
footer .footer-content .footer-info-cont .info-cont div {
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .footer-content .footer-info-cont .info-cont div:hover {
  color: #ffffff;
}
footer .footer-content .media-icons {
  display: flex;
  justify-content: space-around;
  width: 16rem;
  align-content: center;
  margin: 0.8rem auto;
  margin-top: 2.5rem;
  font-size: 1.2rem;
}
footer .footer-content .media-icons i {
  font-family: "Font Awesome 5 Brands";
  border: 2px solid #cccccc;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
footer .footer-content .media-icons i:hover {
  color: #ffffff;
}
footer .footer-content p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  .productCard .product-cont {
    flex-flow: column;
    align-items: center;
    padding: 3rem 0;
  }
  .productCard .product-cont .product-info {
    padding: 0;
    width: 75%;
  }
}
@media (max-width: 767px) {
  nav .menu-toggler {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    position: relative;
    left: -1.5rem;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 80px;
    z-index: 10;
    height: auto;
    background: #ffffff;
    width: 100%;
    padding: 0;
  }
  nav ul li {
    margin: 5px 1.5rem;
  }

  footer .footer-content label {
    left: 5px;
  }
  footer .footer-content .footer-info-cont {
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-content p {
    margin: 1rem 0;
  }

  .productCard .product-cont {
    width: 90%;
  }
}
@media (min-width: 768px) {
  nav ul {
    display: flex !important;
  }
}
@media (max-width: 480px) {
  .prod-cont .product-element .productName {
    font-size: 0.8rem;
  }
  .prod-cont .product-element .productPrice {
    font-size: 0.8rem;
  }
  .prod-cont .product-element img {
    height: 6rem;
  }

  .btn {
    padding: 5px !important;
  }

  .productCard .product-cont {
    padding: 1rem !important;
  }
  .productCard .product-cont .product-info {
    width: 90% !important;
  }
  .productCard .product-cont .product-info .product-name {
    font-size: 1.2rem !important;
  }
  .productCard .product-cont .product-info .product-category {
    font-size: 1rem !important;
    margin-bottom: 0.2rem !important;
  }
  .productCard .product-cont .product-info .product-price {
    font-size: 1.4rem !important;
    margin-bottom: 0.2rem !important;
  }
  .productCard .product-cont .product-info .product-description {
    font-size: 0.8rem;
    line-height: 20px !important;
    margin-bottom: 0.4rem;
  }
  .productCard .product-cont .product-info .btn-cont {
    display: flex;
  }
}

/*# sourceMappingURL=layout.css.map */
