//general classes

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;

    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

.button-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 1rem;
    color: #000000;
    background: none;
    opacity: 1;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0;
    margin: 1rem 3px;
    cursor:pointer;
    border: 1px solid #000000;
    filter: grayscale(1);
    transition: all .3s ease;

    

}

.logo{
    font-size: 2.8rem;
    position: relative;
    left: 1.5rem;
    font-weight: bold;
    font-family: fantasy;
    letter-spacing: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}

.text-a{
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;


}

.dark-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;;
}


@media(min-width:769px){
    .only-mob{
    display: none !important;
    }
}
//general elements

.product-element{
    text-align: center;
    padding: 1rem;
    cursor:pointer;

    img{
        width: 100%;
        max-width: 12rem;
        height: 10rem;
        margin: 25px auto;
        object-fit: contain;
    }
    
    .productName{
        font-size: 1.2rem;
        font-weight: bold;
        margin:1.5rem 10% 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .productPrice{
        font-size: 1rem;
        font-weight: bold;
        margin: .4rem 0;
        opacity: .6;
    }
}

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,.6);
    z-index: +99;
    .loader-cont{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .lds-facebook {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
          }
          .lds-facebook div {
            display: inline-block;
            position: absolute;
            left: 8px;
            width: 16px;
            background: #000000;
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          }
          .lds-facebook div:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
          }
          .lds-facebook div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
          }
          .lds-facebook div:nth-child(3) {
            left: 56px;
            animation-delay: 0;
          }
          @keyframes lds-facebook {
            0% {
              top: 8px;
              height: 64px;
            }
            50%, 100% {
              top: 24px;
              height: 32px;
            }
          }
          
    }
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);

    label{
        font-size: 2.8rem;
        position: relative;
        left: 1.5rem;
        font-weight: bold;
        font-family: fantasy;
        letter-spacing: 10px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        height: 100%;
    
    }

    .menu-toggler {
        display: none;
    }

    ul{
        display: flex;
        align-items: center;
        margin: 0;

        li{
            list-style: none;
            font-size: 1.2rem;
            margin: 0 2.2rem;
            font-weight: bold;
            opacity: .8;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }

        }
    }
}

.productCard{
    display: none;
    width: 100%;
    height: 100%;
    top: 0 ;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:+99;
    position: fixed;
    max-width: 100%;
    margin: 0;
    overflow: scroll;

    /* .dark-bg{
        width: inherit;
        height: inherit;
        background: rgba(0, 0, 0,.4);
        position: fixed;
    } */
    .product-cont {
        width: 70%;
        height: auto;
        min-height: 60%;
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        display: flex;
        border-radius: 15px;
        border: 1px solid #cccccc;
        max-height:100vh;
        overflow:auto;
        .close-btn{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2.5rem;
            padding: 1rem 2rem;
            opacity:.6;
            transition: all .3s ease;
                &:hover{
                    opacity: 1;
                }
        }
        .product-image{
            width: 40%;
            min-height: 100px;
            height: auto;
            display: flex;
            align-items: center;
            img{
                width: 80%;
                margin: 0 auto;
                max-height:30rem;
                object-fit:contain;
            }
        }
        .product-info{
            width:60%;
            padding: 4.5rem;
            margin-top: 2rem;
            .product-name{
                font-size: 2rem;
                font-weight: bold;
            }
            .product-category{
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 1.5rem;
                opacity: .6;
            }
            .product-price{
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
                font-weight:bold;
            }
            .product-description{
                margin-bottom: 1rem;
                line-height: 25px;
            }
        }
    }
}

footer{
    width: 100%;
    height: auto;
    background: #000000;
    color: #cccccc;

    .footer-content{
        display: flex;
        flex-flow: column;

        .footer-info-cont{
            display: flex;
            width: 60%;
            justify-content: space-around;
            margin: 1.5rem auto;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 2.5rem;

            .info-cont{
                font-size:.8rem;
                font-weight: bold;

                div{
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        color: #ffffff;
                    }
                }
            }
        }

        .media-icons{
            display: flex;
            justify-content: space-around;
            width: 16rem;
            align-content: center;
            margin: .8rem auto;
            margin-top: 2.5rem;
            font-size: 1.2rem;

            i{
                font-family: "Font Awesome 5 Brands";
                border: 2px solid #cccccc;
                border-radius: 50%;
                padding: 10px;
                transition: all .3s ease;
                cursor: pointer;

                &:hover{
                    color: #ffffff;
                }
            }
    
        }
    
        p{
            display: flex;
            justify-content: center;
            font-size: .8rem;
        }
    }
}

@media(max-width:1200px){
    .productCard{
        .product-cont{
            flex-flow:column;
            align-items: center;
            padding: 3rem 0;
            .product-info{
                padding: 0;
                width: 75%;
            }
        }
    }
}

@media(max-width:767px){
    nav{

        .menu-toggler{
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            position: relative;
            left: -1.5rem;
        }
        ul{
            display: none;
            position: absolute;
            top: 80px;
            z-index: +10;
            height: auto;
            background: #ffffff;
            width: 100%;
            padding: 0;
            li{
                /* margin: 5px 1.5rem; */
                padding: 5px 1.5rem;
                margin:0;
                border:1px solid #dcdcdc;

            }
        }
    }
    footer{
        .footer-content{
    
            label{
                left:5px;
            }
    
    
            .footer-info-cont{
                flex-flow: column;
                align-items:center;
                text-align:center;
            }
            p{
                margin: 1rem 0;
            }
        }
    }
    .productCard{
        .product-cont{
            width: 90%;
        }
    }
}

@media(min-width:768px){
    nav ul{
        display: flex !important;
    }
    
}

@media(max-width:480px){
    .prod-cont .product-element{
        .productName{
            font-size:.8rem !important;
        }

        .productPrice{
            font-size:.8rem !important ;
        }

        img{
            height:6rem !important;
        }
    }
    .btn{
        padding: 5px !important;
    }
    .productCard{
        .product-cont{
            padding: 1rem !important;
            .product-info{
                width: 90% !important;

                .product-name{
                    font-size: 1.2rem !important;
                }
                .product-category{
                    font-size: 1rem !important;
                    margin-bottom: .2rem !important;
                }
                .product-price{
                    font-size: 1.4rem !important;
                    margin-bottom: .2rem !important;
                }
                .product-description{
                    font-size: .8rem;
                    line-height: 20px !important;
                    margin-bottom: .4rem;
                }
                .btn-cont{
                    display: flex;
                }
            }
        }
    }
}