
.button-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    padding: 1rem;
    border: 1px solid #d4d5d9;
    margin: 1rem 0;
    font-weight: bold;
    cursor:pointer;
    transition: all .3s ease;
    opacity: .6;

    &:hover{
        border-color: #000000;
        opacity: 1;
    }
}

section{
    margin: 0 10rem;
}

input{
    filter: grayscale(1);
}

.text-type-a{
    font-size: 1.2rem;
    margin: .8rem 0;
    font-weight: bold;
    opacity: .6;
}


.product-grid{
    .top-cont{
        display: flex;
        justify-content: flex-end;
        .btn{
            background: none;
            color: #000000;
            &:hover{
                outline: none;
                background: none;
            }

            &:active{
                outline: none;
                background: none;
            }
        }
    }           
    .cont{
        display: flex;
        margin-top: 35px;
        .prod-filters{
            width: 160rem;
            .filter{
                display:flex;
                flex-flow: column;
                padding: .8rem 1rem;
            }
        }
    
        .products-container{
            
            .prod-cont{
                padding: 0 !important;
                margin: 0 !important;
                .product-element{
                    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
                }
            }

        }
    }
}