.productsLoader{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #000000;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #000000 transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}



section{
    /* max-width: 100rem; */
    margin: 0 1rem;
}

input{
    filter: grayscale(1);
}

.text-type-a{
    font-size: 1.2rem;
    margin: .8rem 0;
    font-weight: bold;
    text-transform: uppercase;
}


.product-grid{
    display: none;
    .top-cont{
        display: flex;
        justify-content: flex-end;
        .btn{
            background: none;
            color: #000000;
            &:hover{
                outline: none;
                background: none;
            }

            &:active{
                outline: none;
                background: none;
            }
        }

        .filter-btn{
            display: none;
        }
    }           
    .cont{
        display: flex;
        .filters-sec{
            width: 12rem;
            .prod-filters{
                width: inherit;
                .closeFilters-btn{
                    display: none;
                }
                .filter{
                    display:flex;
                    flex-flow: column;
                    padding: .8rem 1rem;
                    .filter-element-cont{
                        width: max-content;
                    }
                    .filter-cont{
                        /* display: none; */
                    }
                    .filter-selector{
                        display:flex;
                        align-items:center;
                        cursor:pointer;
                        i{
                            transition: all .3s ease;
                            font-size:1.25rem;
                            margin-left:.3rem;
                        }
                        .rotate-icon{
                            transform: rotate(180deg);
                        }
                    }
                }
            }    
        }
        .products-container{
            width:calc(100% - 12rem);;
            .prod-cont{
                padding: 0 !important;
                margin: 0 !important;
                .product-element{
                    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
                }
            }

        }
    }
}


@media(max-width:1025px){
    section{
        margin: 0 1rem;
    }
}

@media(max-width:768px){
    .filters-sec{
        display: none;
        width: 100% !important;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: +99;

        .prod-filters{        
            background: #ffffff;
            width: 60% !important;
            max-width: 15rem;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            border: 1px solid #cccccc;
            overflow: scroll;
            position: relative;
            .closeFilters-btn{
                display: inline !important;
                position: absolute;
                top: 0;
                right: 0;
                padding: 1rem;
            }
        }
    }

    .product-grid{
        
        .filter-btn{
            display: block !important;
        }
        .cont{
            .products-container{
                width:100%
            }
        }
    }


}

@media(min-width:769px){
    .filters-sec{
        display: block !important;
    }
}
